%div#card-editor-page.page
  %form(method='POST' action='/editor/')
    %label(for='card-model') card model
    %ul(id='card-models')
      - card_models.each do |id, name|
        %li{id: "card-model-#{id}"}
          %a{href: "/editor/new/#{id}"}
            &= name
    - card_fields.each do |field|
      %input(type='text' class='card-field' name="field-#{field}" id="field-#{field}" value='')
    %button add card

  -# Hack for the system tests
  -if last_card_id
    %div
      Last card added was:
      %span#last-added-card-id
        = last_card_id.to_guid
